.bobby/
.fabric/
.mixin.out

xaero/
crash-reports/
essential/
logs/
saves/
screenshots/
schematics/
data/
wurst/

.git
options.txt
servers.dat_old
usercache.json
usernamecache.json
irisUpdateInfo.json