.bobby/
.fabric/
.mixin.out

XaeroWaypoints
crash-reports
essential
logs
saves
screenshots
xaero
schematics
data

.git
options.txt
servers.dat_old
usercache.json
usernamecache.json
irisUpdateInfo.json